<a href="https://colab.research.google.com/github/AkashMuttalwad/Assignments/blob/main/Capatone_Project_1_Properaliy_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Business demand **
We have larage number of customers. our seles team would like to call potantial customers who can buy our service. we don't have enough manpower and time to call and reach every customer and conviance them for our products also we need to rank customers so that we could after them our product and services with discounted services

In [24]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
# Load the xlsx file
excel_data = pd.read_excel('/content/drive/MyDrive/Python/Online Retail_project1.csv123.xlsx')
# Read the values of the file in the dataframe
data = pd.DataFrame(excel_data, columns=['StockCode', 'Description', 'Country','InvoiceNo','InvoiceDate','CustomerID','UnitPrice'])
# Print the content
print("The content of the file is:\n", data)

The content of the file is:
        StockCode                          Description         Country  \
0         85123A   WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
1          71053                  WHITE METAL LANTERN  United Kingdom
2         84406B       CREAM CUPID HEARTS COAT HANGER  United Kingdom
3         84029G  KNITTED UNION FLAG HOT WATER BOTTLE  United Kingdom
4         84029E       RED WOOLLY HOTTIE WHITE HEART.  United Kingdom
...          ...                                  ...             ...
541904     22613          PACK OF 20 SPACEBOY NAPKINS          France
541905     22899         CHILDREN'S APRON DOLLY GIRL           France
541906     23254        CHILDRENS CUTLERY DOLLY GIRL           France
541907     23255      CHILDRENS CUTLERY CIRCUS PARADE          France
541908     22138        BAKING SET 9 PIECE RETROSPOT           France

       InvoiceNo         InvoiceDate  CustomerID  UnitPrice
0         536365 2010-12-01 08:26:00     17850.0       2.55
1         536365 2010-12-01 08:26:00     17850.0       3.39
2         536365 2010-12-01 08:26:00     17850.0       2.75
3         536365 2010-12-01 08:26:00     17850.0       3.39
4         536365 2010-12-01 08:26:00     17850.0       3.39
...          ...                 ...         ...        ...
541904    581587 2011-12-09 12:50:00     12680.0       0.85
541905    581587 2011-12-09 12:50:00     12680.0       2.10
541906    581587 2011-12-09 12:50:00     12680.0       4.15
541907    581587 2011-12-09 12:50:00     12680.0       4.15
541908    581587 2011-12-09 12:50:00     12680.0       4.95

[541909 rows x 7 columns]

In [34]:
# Concatenating dataframes without duplicates
excel_data = pd.concat([data, data]).drop_duplicates()
excel_data

,StockCode,Description,Country,InvoiceNo,InvoiceDate,CustomerID,UnitPrice
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom,536365,2010-12-01 08:26:00,17850.0,2.55
1,71053,WHITE METAL LANTERN,United Kingdom,536365,2010-12-01 08:26:00,17850.0,3.39
2,84406B,CREAM CUPID HEARTS COAT HANGER,United Kingdom,536365,2010-12-01 08:26:00,17850.0,2.75
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,United Kingdom,536365,2010-12-01 08:26:00,17850.0,3.39
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,United Kingdom,536365,2010-12-01 08:26:00,17850.0,3.39
...,...,...,...,...,...,...,...
541904,22613,PACK OF 20 SPACEBOY NAPKINS,France,581587,2011-12-09 12:50:00,12680.0,0.85
541905,22899,CHILDREN'S APRON DOLLY GIRL,France,581587,2011-12-09 12:50:00,12680.0,2.10
541906,23254,CHILDRENS CUTLERY DOLLY GIRL,France,581587,2011-12-09 12:50:00,12680.0,4.15
541907,23255,CHILDRENS CUTLERY CIRCUS PARADE,France,581587,2011-12-09 12:50:00,12680.0,4.15
541908,22138,BAKING SET 9 PIECE RETROSPOT,France,581587,2011-12-09 12:50:00,12680.0,4.95